body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ECF0F1;
    color: #34495E;
}

header {
    background: #2C3E50;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header .objective {
    margin: 20px auto;
    max-width: 800px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.education-item,
.experience-item,
.skills-list ul,
.languages-list ul {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-item h3,
.experience-item h3,
.skills-list ul li,
.languages-list ul li {
    margin-top: 0;
    color: #333;
}

.education-item p,
.experience-item p {
    margin: 5px 0;
    color: #666;
}

.education-item ul,
.experience-item ul {
    margin: 10px 0 0 20px;
    padding: 0;
}

.education-item ul ul,
.experience-item ul ul {
    margin-left: 20px;
}

.skills-list ul,
.languages-list ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

.skills-list ul li,
.languages-list ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

footer {
    background: #2C3E50;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

h2, h3 {
    color: #2C3E50;
}

a {
    color: #3498DB
}


.certificates-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;     
    justify-content: flex-start;  
    align-items: flex-start;  
}

.certificate-item {
    text-align: center; 
    flex: 0 1 auto;     
}

.certificate-item img {
    width: 100px;  
    height: 100px;
    margin-bottom: 10px;
}


.download-cv-container {
    margin-top: 20px;
    text-align: center;
}

.download-cv {
    display: inline-block;
    padding: 12px 25px;
    background-color: #3498db; 
    color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

.download-cv:hover {
    background-color: #2980b9; 
    transform: translateY(-2px); 
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); 
}

.download-cv:active {
    background-color: #1f639a;
    transform: translateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 5vw;
    line-height: 1.2;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

h1 {
    font-size: 5vw; /* Tamanho de fonte responsivo */
    line-height: 1.2; /* Altura da linha ajustada */
    text-align: center; /* Centraliza o texto */
    word-wrap: break-word; /* Quebra de linha automática */
    white-space: normal; /* Permite quebras de linha */
    margin: 20px auto; /* Ajusta as margens */
    max-width: 90%; /* Limita a largura máxima para evitar que o texto se espalhe */
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px; /* Reduz o tamanho da fonte para tablets */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Reduz ainda mais o tamanho da fonte para celulares */
    }
}
